.App {
  text-align: center;
}
*{
  font-family: Georgia, 'Times New Roman', Times, serif
}

button, input[type="submit"] {
	color: inherit;
	border: none;
	padding: 0;
	font: inherit;
	cursor: pointer;
	outline: inherit;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}


.box{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
input{
  margin-bottom:20px;
}
.page{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
}
.row{
  display: flex;
  flex-direction: row;
  align-items: center;
}

.icon{
  width:25px;
  height:25px;
}
.title{
  font-weight: 300;
}
.container{
  justify-self: center;
  width:400px;
  display: flex;
  flex-direction: column;
}
.large-icon{
  width: 150px;
  align-self: center;
}
.input{
  /* width:'100%'; */
  height:50px;
  padding-right:20px;
  padding-left:20px;
  border-radius: 10px;
  box-sizing: border-box;   
  border: 0.5px solid lightblue;
  font-size: 18px;
}

.label{
  align-self: flex-start;
  margin-bottom: 12px;
}
.button-container{
  display: flex;
  padding-bottom: 0;
}
.login-btn{
  height:70px;
  border-radius: 18px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 16px;
  background-color: lightblue;
}
.btn{
  flex:1;
  height:70px;
  border-radius: 18px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 16px;
  background-color: lightblue;
  margin-bottom: 5px;
}
.small-icon{
  width:20px;
  height:20px;
  margin-right: 10px;
}

.parent {
  padding-top: 40px;
  width:'100%';
  height:'100%';
  display: flex;
  justify-content: center;
  align-items: center;
}

.line{
  margin-top: 10px;
}
.read-only{
    outline: inherit;
    background-color: aliceblue;
}
.user-icon {
  position: absolute;
  right: 20px;
  top:20px;
  width:40px;
  height:40px;
}

.reminders-title{
  line-height: 60px;
}
.nav-item{
  background-color: lightblue;
  width:200px;
  height:50px;
  border-radius: 10px;
  margin-right: 5px;
  margin-left: 5px;
}
.items-container{
  display: flex;
  flex-direction: column;
}
.add-btn{
  align-self: flex-start;
  margin-left: 5px;
  padding-left: 30px;
  padding-right: 30px;
  padding-top: 20px;
  padding-bottom: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
}
.order-by{
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 5px;
}

.cont{
  display: flex;
  width: '100%';
  justify-content: space-between;
  align-items: center;
  margin-top: 5px;
}
.pink{
  background-color: lightpink;
}

.reminder{
  margin-left: 5px;
  margin-right: 5px;
  display: flex;
  width: '100%';
  justify-content: space-around;
  border: 1px solid grey;
}